@import "~_style/base";

.item-table-row {
  display: flex;

  .item-table-caption {
    width: 200px;
  }

  .item-table-content {
    flex-grow: 1;
  }
}

.item-picture-wrapper {
  label {
    margin: 0;
    input {
      display: none;
    }
  }

  .right {
    padding: $small-unit $unit * 2 0;
  }
}