@import "~_style/base";

.item-table-row {
  display: flex;

  .item-table-caption {
    width: 200px;
  }

  .item-table-content {
    flex-grow: 1;
  }
}

.item-picture-wrapper {
  label {
    margin: 0;
  }

  .right {
    padding: $small-unit $unit * 2 0;
  }
}

.editor-image {
  @include image-container;
}

.file-buttons {
  margin-top: -3 * $unit;
  margin-bottom: 2 * $unit;
}

form {
  margin: 0;
}