$small-unit: 3px;
$unit: 5px;

$color-grey: rgb(110, 110, 110);
$color-bg: white;
$color-highlight: rgb(203, 38, 29);
$color-text: black;
$color-red: #fb7765;
$color-green: #89d26d;

$font-basic: 'Nunito', sans-serif;
$font-highlight: 'Crete Round', serif;

$font-smallest: 18px;
$font-ratio: 1.2;

$screen-tiny: 480px;
$screen-small: 768px;
$screen-normal: 1023px;
$screen-big: 1200px;
$screen-huge: 2000px;
$screen-smallest-font: $font-smallest / ($font-ratio / 100);

$speed-rapid: 0.1s;
$speed-fast: 0.25s;
$speed: 0.5s;
$speed-slow: 1s;

@mixin font-size {
  font-size: #{$font-ratio}vw;

  @media (max-width: $screen-smallest-font) {
    font-size: $font-smallest;
  }
}

@mixin font-highlight {
  font-family: $font-highlight;
  //font-style: italic;
}

@mixin font-basic {
  font-family: $font-basic;
  font-style: normal;
}

@mixin pretty-box {
  @include font-size;

  border-radius: $small-unit;
  padding: 0 2 * $unit;
  margin: $unit;
  background: $color-bg;
  color: $color-text;
  border: 1px solid transparentize($color-grey, 0.4);
  outline: none;
  transition: border-color $speed-rapid;

  &:hover, &:active, &:focus {
    border-color: $color-grey;
  }
}

@mixin image-container {
  width: 100%;
  height: 250px;
  display: block;
  position: relative;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}