@import "~_style/base";

.pinnedPic-wrapper {
  overflow: hidden;
  position: relative;

  .pinnedPic {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  .pinnedPic-target {
    background-repeat: no-repeat;
    background-image: url(~_img/target.png);
    width: 30px;
    height: 30px;
    content: " ";
    position: absolute;
    z-index: 2;
  }
}
